In [19]:
import pandas as pd
df = pd.read_csv('ST_train.csv')
#df = pd.read_csv('ST_test.csv')

In [20]:
Name_impu_df = df[['Name']].copy()
Name_impu_df['Name_length'] = Name_impu_df['Name'].str.len()
name_parts = Name_impu_df['Name'].str.split(expand=True)
Name_impu_df['FirstNameInitial'] = name_parts[0].str[0]
Name_impu_df['SurnameInitial'] = name_parts[1].str[0]
Name_impu_df.head()

               Name  Name_length FirstNameInitial SurnameInitial
0   Nelly Carsoning         15.0                N              C
1    Lerome Peckers         14.0                L              P
2   Sabih Unhearfus         15.0                S              U
3  Meratz Caltilter         16.0                M              C
4   Brence Harperez         15.0                B              H

In [21]:
nan_counts = Name_impu_df.isna().sum()
print(nan_counts)

Name                94
Name_length         94
FirstNameInitial    94
SurnameInitial      94
dtype: int64

In [22]:
import numpy as np

# Impute 'Name_length' with median
median_name_length = Name_impu_df['Name_length'].median()
Name_impu_df['Name_length'].fillna(median_name_length, inplace=True)

# Function to impute with random selection
def impute_with_random(column):
    non_nan_values = Name_impu_df[column].dropna().unique()
    Name_impu_df[column] = Name_impu_df[column].apply(lambda x: np.random.choice(non_nan_values) if pd.isnull(x) else x)

# Impute 'FirstNameInitial' and 'SurnameInitial' with random selections
impute_with_random('FirstNameInitial')
impute_with_random('SurnameInitial')

In [23]:
nan_counts = Name_impu_df.isna().sum()
print(nan_counts)

Name                94
Name_length          0
FirstNameInitial     0
SurnameInitial       0
dtype: int64

In [24]:
Name_impu_df.to_csv('Name_impu_df.csv', index=True)