In [19]:
import pandas as pd
df = pd.read_csv('ST_train.csv')
#df = pd.read_csv('ST_test.csv')

In [20]:
CryoSleep_impu_df = df[['Cabin', 'CryoSleep', 'RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']].copy()

CryoSleep_impu_df[['deck', 'num', 'side']] = CryoSleep_impu_df['Cabin'].str.split('/', expand=True)

CryoSleep_impu_df.head()

,Cabin,CryoSleep,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,deck,num,side
0,G/3/S,True,0.0,0.0,0.0,0.0,0.0,G,3,S
1,F/4/S,False,0.0,9.0,0.0,2823.0,0.0,F,4,S
2,C/0/S,True,0.0,0.0,0.0,0.0,0.0,C,0,S
3,C/1/S,False,0.0,6652.0,0.0,181.0,585.0,C,1,S
4,F/5/S,False,10.0,0.0,635.0,0.0,0.0,F,5,S

In [21]:
nan_counts = CryoSleep_impu_df.isna().sum()
print(nan_counts)

Cabin           100
CryoSleep        93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
deck            100
num             100
side            100
dtype: int64

In [22]:
CryoSleep_impu_df.to_csv('CryoSleep_impu_df.csv', index=True)

In [23]:
def impute_cryosleep(row):
    if pd.isna(row['CryoSleep']) and any(row[feature] != 0 for feature in ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']):
        return False
    else:
        return row['CryoSleep']

# Apply the function to each row
CryoSleep_impu_df['CryoSleep'] = CryoSleep_impu_df.apply(impute_cryosleep, axis=1)

In [24]:
def impute_cryosleep(row):
    if pd.isna(row['CryoSleep']) and row['deck'] in ['A', 'D', 'E', 'F']:
        return False
    else:
        return row['CryoSleep']

# Apply the function to each row
CryoSleep_impu_df['CryoSleep'] = CryoSleep_impu_df.apply(impute_cryosleep, axis=1)

In [25]:
CryoSleep_impu_df['CryoSleep'] = CryoSleep_impu_df['CryoSleep'].fillna(True)

In [26]:
CryoSleep_impu_df.to_csv('CryoSleep_impu_df_fin.csv', index=True)

In [27]:
nan_counts = CryoSleep_impu_df.isna().sum()
print(nan_counts)

Cabin           100
CryoSleep         0
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
deck            100
num             100
side            100
dtype: int64